# Analisis Exploratorio - Datos UNIAJC

Fuentes de datos analizadas

* DatosI
* DatosII
* DatosIII

## Preparación entorno

In [346]:
#Importación librerias a implementar
import pandas as pd

In [347]:
#Class para dar forma a los print
class color:
   PURPLE = '\033[95m'
   CYAN = '\033[96m'
   DARKCYAN = '\033[36m'
   BLUE = '\033[94m'
   GREEN = '\033[92m'
   YELLOW = '\033[93m'
   RED = '\033[91m'
   BOLD = '\033[1m'
   UNDERLINE = '\033[4m'
   END = '\033[0m'

In [421]:
""" Función para calcular la edad
calcular_edad(fecha de nacimiento):
return edad"""

def calcular_edad(fecha_nacimiento):
    from datetime import date
    hoy = date.today()
    edad = int(hoy.year - fecha_nacimiento.year)
    
    return edad

## Conexión fuentes de datos

Iniciamos con la conexión a la base de datos de estudiantes de la Universiad Antonio Jose Camacho, que se encuentra en un único archivo de excel

In [349]:
#Se establece el archivo xlsx a cargar, luego de haber sido unificado
camacho = pd.ExcelFile('CamachoUnido_limpiov1.xlsx')

In [387]:
#Se carga cada uno de las hojas del excel, las cuales representan semestres diferentes
df_20191 = pd.read_excel(camacho,'DatosI_Sistemas')
df_20192 = pd.read_excel(camacho,'DatosII_Sistemas')
df_20201 = pd.read_excel(camacho,'DatosIII_Sistemas')

### DatosI - 20191
Exploramos el conjunto de datos de los estudiantes matriculados en el semestre 20191 en el programa de Ingeniería de Sistemas (no se incluye homologación)

In [388]:
#Se conocen los tipos de dato de cada variable
df_20191.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2275 entries, 0 to 2274
Data columns (total 42 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 2275 non-null   object
 1   GENERO             2275 non-null   object
 2   ESTADO_CIVIL       2275 non-null   object
 3   ESTRATO            1410 non-null   float64
 4   PAIS_NACIMIENTO    2245 non-null   object
 5   DPTO_NACIMIENTO    2245 non-null   object
 6   CIUDAD_NACIMIENTO  2245 non-null   object
 7   FECHA_NACIMIENTO   2275 non-null   datetime64[ns]
 8   PAIS_RESIDENCIA    2245 non-null   object
 9   DPTO_RESIDENCIA    2245 non-null   object
 10  CIUDAD_GENERAL     2245 non-null   object
 11  DIRECCION          2245 non-null   object
 12  BARRIO             2245 non-null   object
 13  SNP                2215 non-null   object
 14  COLEGIO            2275 non-null   object
 15  COLEGIO2           1525 non-null   object
 16  COD_PROG           2275 non-null   int64
 17  PROGRAMA           2275 non-null   object
 18  MATERIA            2275 non-null   object
 19  COD_MATERIA        2275 non-null   object
 20  GRUPO              2275 non-null   object
 21  EVAC_ID            2275 non-null   int64
 22  EVALUACION         2275 non-null   object
 23  CALF_PARCIAL       2218 non-null   float64
 24  PROMEDIO           2275 non-null   float64
 25  FECHA_MATRICULA    2275 non-null   datetime64[ns]
 26  ESTADO             2275 non-null   object
 27  PER_ADMISION       2275 non-null   object
 28  REAC_TIPO          2275 non-null   object
 29  GRUP_ID            2275 non-null   int64
 30  DOCENTE            2275 non-null   object
 31  LUNES              335 non-null    object
 32  MARTES             545 non-null    object
 33  MIERCOLES          530 non-null    object
 34  JUEVES             510 non-null    object
 35  VIERNES            485 non-null    object
 36  SABADO             60 non-null     object
 37  DOMINGO            0 non-null      float64
 38  FINAN ICETEX       90 non-null     object
 39  FINAN BANCARIA     360 non-null    object
 40  PAGO DIRECTO       1825 non-null   object
 41  FECHA DE PAGO      2275 non-null   datetime64[ns]
dtypes: datetime64[ns](3), float64(4), int64(3), object(32)
memory usage: 746.6+ KB

In [389]:
#Se conocen valores faltantes por columna
print('Valores faltantes en cada columna', df_20191.isnull().sum())

Valores faltantes en cada columna ID                      0
GENERO                  0
ESTADO_CIVIL            0
ESTRATO               865
PAIS_NACIMIENTO        30
DPTO_NACIMIENTO        30
CIUDAD_NACIMIENTO      30
FECHA_NACIMIENTO        0
PAIS_RESIDENCIA        30
DPTO_RESIDENCIA        30
CIUDAD_GENERAL         30
DIRECCION              30
BARRIO                 30
SNP                    60
COLEGIO                 0
COLEGIO2              750
COD_PROG                0
PROGRAMA                0
MATERIA                 0
COD_MATERIA             0
GRUPO                   0
EVAC_ID                 0
EVALUACION              0
CALF_PARCIAL           57
PROMEDIO                0
FECHA_MATRICULA         0
ESTADO                  0
PER_ADMISION            0
REAC_TIPO               0
GRUP_ID                 0
DOCENTE                 0
LUNES                1940
MARTES               1730
MIERCOLES            1745
JUEVES               1765
VIERNES              1790
SABADO               2215
DOMINGO              2275
FINAN ICETEX         2185
FINAN BANCARIA       1915
PAGO DIRECTO          450
FECHA DE PAGO           0
dtype: int64

In [390]:
#Cantidad de estudiantes únicos
id_df20191 = df_20191['ID']
id_df20191 = id_df20191.drop_duplicates()
print(color.BOLD +'Cantidad de estudiantes en 20191: '+ color.END,id_df20191.count())

Cantidad de estudiantes en 20191:  76

In [391]:
#cantidad de estudiantes sin estrato
mask_estrato = df_20191.ESTRATO.isnull()
id_df20191_sin_estrato = df_20191[mask_estrato]['ID']
id_df20191_sin_estrato = id_df20191_sin_estrato.drop_duplicates()
print(color.BOLD +'Cantidad de estudiantes sin estrato definido: '+ color.END,id_df20191_sin_estrato.count())
print(color.BOLD +'ID estudiantes sin estrato definido: \n'+ color.END,id_df20191_sin_estrato)

Cantidad de estudiantes sin estrato definido:  29
ID estudiantes sin estrato definido:
 0       AJC-0010
90      AJC-0052
150     AJC-0096
270     AJC-0129
360     AJC-0161
450     AJC-0233
480     AJC-0255
660     AJC-0438
870     AJC-0558
1080    AJC-0739
1230    AJC-0902
1260    AJC-0921
1290    AJC-0934
1440    AJC-0968
1500    AJC-0989
1530    AJC-0996
1590    AJC-1051
1620    AJC-1060
1680    AJC-1100
1710    AJC-1104
1890    AJC-1202
1950    AJC-1225
2040    AJC-1239
2070    AJC-1255
2095    AJC-1258
2125    AJC-1264
2155    AJC-1280
2215    AJC-1315
2245    AJC-1322
Name: ID, dtype: object

In [392]:
#cantidad de estudiantes sin país de nacimiento, departamento de nacimiento y municipio de nacimiento
mask_lugar_nacimiento = df_20191.PAIS_NACIMIENTO.isnull()
id_df20191_sin_lugar_nacimiento = df_20191[mask_lugar_nacimiento]['ID']
id_df20191_sin_lugar_nacimiento = id_df20191_sin_lugar_nacimiento.drop_duplicates()
print(color.BOLD +'ID estudiantes sin lugar de nacimiento definido: \n'+ color.END,id_df20191_sin_lugar_nacimiento)
print(color.BOLD +'Cantidad de estudiantes sin lugar de nacimiento: '+ color.END,id_df20191_sin_lugar_nacimiento.count())

ID estudiantes sin lugar de nacimiento definido:
 1920    AJC-1220
Name: ID, dtype: object
Cantidad de estudiantes sin lugar de nacimiento:  1

In [393]:
#cantidad de estudiantes sin país de nacimiento, departamento de nacimiento y municipio de nacimiento
mask_lugar_residencia = df_20191.PAIS_RESIDENCIA.isnull()
id_df20191_sin_lugar_residencia = df_20191[mask_lugar_residencia]['ID']
id_df20191_sin_lugar_residencia = id_df20191_sin_lugar_residencia.drop_duplicates()
print(color.BOLD +'ID estudiantes sin lugar de residencia definido: \n'+ color.END,id_df20191_sin_lugar_residencia)
print(color.BOLD +'Cantidad de estudiantes sin lugar de residencia: '+ color.END,id_df20191_sin_lugar_nacimiento.count())

ID estudiantes sin lugar de residencia definido:
 210    AJC-0123
Name: ID, dtype: object
Cantidad de estudiantes sin lugar de residencia:  1

In [394]:
#faltantes_20191 = {'Estrato': id_df20191_sin_estrato.values.tolist(),'Lugar Nacimiento': id_df20191_sin_lugar_nacimiento.values.tolist()}
#print(faltantes_20191)

### Tratamiento de valores faltantes

In [395]:
#En el Dataset en las columnas COLEGIO y COLEGIO2 tienen distribuido el nombre del colegio donde los estudiantes cursaron su educación básica secundaria
#Se rellenan los null de la columna Colegio por el valor en Colegio2
colegio = df_20191.loc[:,['ID','COLEGIO','COLEGIO2']]
for i in range(colegio.shape[0]):
    if colegio.COLEGIO[i] == 'Sin Definir':
        colegio.COLEGIO[i] = colegio.COLEGIO2[i]
colegio = colegio.drop(columns = 'COLEGIO2').drop_duplicates()
#colegio = colegio.drop_duplicates()

In [396]:
colegio_dummies = colegio
colegio_dummies['COLEGIO'] = pd.get_dummies(colegio.COLEGIO)

In [397]:
colegio_dummies.describe()

         COLEGIO
count  76.000000
mean    0.013158
std     0.114708
min     0.000000
25%     0.000000
50%     0.000000
75%     0.000000
max     1.000000

In [319]:
#Se unifican los métodos de pago
metodo_pago = df_20191.loc[:,['ID','FINAN ICETEX','FINAN BANCARIA','PAGO DIRECTO']]
metodo_pago = metodo_pago.drop_duplicates()
metodo_pago = metodo_pago.fillna('Otro')

for i in range(metodo_pago.shape[0]):
    if metodo_pago.loc[i,'FINAN ICETEX'] == 'Otro':
        if metodo_pago.loc[i,'FINAN BANCARIA'] == 'Otro':
            metodo_pago.loc[i,'METODO_PAGO'] = 'PAGO DIRECTO'
        else:
            metodo_pago.loc[i,'METODO_PAGO'] = 'FINAN BANCARIA'
    else:
        metodo_pago.loc[i,'METODO_PAGO'] = 'FINAN ICETEX'
metodo_pago = metodo_pago.drop(columns = ['FINAN ICETEX','FINAN BANCARIA','PAGO DIRECTO']).drop_duplicates()


#Verificación que no hayan valores nulos en metodo_pago
metodo_pago.isnull().sum()

KeyError: 1

In [314]:
metodo_pago.METODO_PAGO.value_counts()

PAGO DIRECTO    76
Name: METODO_PAGO, dtype: int64

In [288]:
metodo_pago_dummies.values

array([[1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1]], dtype=uint8)

In [398]:
#Calculo el cantidad de materias
cant_materia = pd.DataFrame(columns=['ID','COD_MATERIA'])
row = 0
for i in id_df20191:
    mask = df_20191['ID'] == i
    cant_materia.loc[row,'ID'] = i
    cant_materia.loc[row,'CANT_MATERIAS'] = len(df_20191[mask]['COD_MATERIA'].unique())
    row = row +1
cant_materia = cant_materia.drop(columns = ['COD_MATERIA'])

In [399]:
cant_materia

          ID  CANT_MATERIAS
0   AJC-0010            6.0
1   AJC-0027            6.0
2   AJC-0041            6.0
3   AJC-0052            6.0
4   AJC-0054            6.0
..       ...            ...
71  AJC-1264            6.0
72  AJC-1280            6.0
73  AJC-1292            6.0
74  AJC-1315            6.0
75  AJC-1322            6.0

[76 rows x 2 columns]

In [400]:
#Calculo de edad de cada estudiante
df_edad = df_20191.loc[:,['ID','FECHA_NACIMIENTO']]
df_edad = df_edad.drop_duplicates()
edades = pd.DataFrame(columns = ['ID','EDAD'])
row = 0
for i in df_edad['FECHA_NACIMIENTO']:
    edades.loc[row,'EDAD'] = int(calcular_edad(i))
    row = row + 1
row = 0    
for i in df_edad['ID']:
    edades.loc[row,'ID'] = i
    row = row + 1

In [401]:
#Calculo de edad de cada estudiante
estrato = df_20191.loc[:,['ID','ESTRATO']].drop_duplicates().fillna(0)

In [402]:
genero = df_20191.loc[:,['ID','GENERO']].drop_duplicates()
genero_dummies = pd.get_dummies(genero.GENERO)

In [403]:
#Se eliminan columnas que no se utilizarán en la primera versión del análisis, los días de la semana donde se recibia clase. Ni fechas de ejecución de los pagos
df_20191 = df_20191.drop(columns=['GENERO','ESTADO_CIVIL','PAIS_NACIMIENTO','DPTO_NACIMIENTO','CIUDAD_NACIMIENTO','DPTO_RESIDENCIA','CIUDAD_GENERAL','BARRIO','ESTRATO','DIRECCION','PAIS_RESIDENCIA','FECHA_NACIMIENTO','LUNES','MARTES','MIERCOLES','JUEVES','VIERNES','SABADO','DOMINGO','COLEGIO','COLEGIO2','COD_PROG','PROGRAMA','MATERIA','COD_MATERIA','GRUPO','EVAC_ID','EVALUACION','CALF_PARCIAL','FECHA_MATRICULA','FECHA DE PAGO','SNP','DOCENTE','ESTADO','PER_ADMISION','REAC_TIPO','GRUP_ID','FINAN ICETEX','FINAN BANCARIA','PAGO DIRECTO']).drop_duplicates()

### Etiqueta de desertor

In [404]:
#ID 20192
print(color.BOLD + '  ID 20192' + color.END)
print(df_20192['ID'].value_counts())
id_df20192 = df_20192['ID']
id_df20192 = id_df20192.drop_duplicates()
id_df20191 = id_df20191.values
id_df20191 = id_df20191.tolist()
id_df20192 = id_df20192.values
id_df20192 = id_df20192.tolist()

  ID 20192
AJC-1185    35
AJC-0846    30
AJC-0430    30
AJC-0054    30
AJC-1064    30
            ..
AJC-0739    15
AJC-0161    15
AJC-0989    15
AJC-0116    10
AJC-1255    10
Name: ID, Length: 61, dtype: int64

In [405]:
#ID 20201
print(color.BOLD + '  ID 20201' + color.END)
print(df_20201['ID'].value_counts())
id_df20201 = df_20201['ID']
id_df20201 = id_df20201.drop_duplicates()
id_df20201 = id_df20201.values
id_df20201 = id_df20201.tolist()

  ID 20201
AJC-0966    30
AJC-0645    30
AJC-0967    30
AJC-0615    30
AJC-1292    30
AJC-0878    30
AJC-0529    30
AJC-1188    30
AJC-0940    30
AJC-1388    30
AJC-0202    30
AJC-0974    30
AJC-0430    30
AJC-0674    30
AJC-0604    30
AJC-0847    30
AJC-0027    30
AJC-0125    30
AJC-0619    30
AJC-0557    30
AJC-1185    30
AJC-0282    30
AJC-0478    30
AJC-0041    30
AJC-0507    30
AJC-1231    30
AJC-1156    30
AJC-0779    30
AJC-0204    30
AJC-0139    30
AJC-0495    25
AJC-0947    25
AJC-0054    25
AJC-0134    25
AJC-0846    25
AJC-1064    20
AJC-0375    20
AJC-0413    20
AJC-0692    20
AJC-1025    20
AJC-0116    20
AJC-1230    20
AJC-1151    15
Name: ID, dtype: int64

In [406]:
candidatos_desertores = []
for i in range(len(id_df20191)):
    if id_df20191[i] in id_df20201:
        continue
    else:
        candidatos_desertores.append(id_df20191[i])

In [407]:
print(f"Estudiantes candidatos a desertores: {len(candidatos_desertores)}\n",candidatos_desertores)

Estudiantes candidatos a desertores: 34
 ['AJC-0010', 'AJC-0052', 'AJC-0096', 'AJC-0123', 'AJC-0129', 'AJC-0161', 'AJC-0233', 'AJC-0255', 'AJC-0435', 'AJC-0438', 'AJC-0479', 'AJC-0558', 'AJC-0739', 'AJC-0902', 'AJC-0921', 'AJC-0934', 'AJC-0968', 'AJC-0989', 'AJC-0996', 'AJC-1051', 'AJC-1060', 'AJC-1100', 'AJC-1104', 'AJC-1118', 'AJC-1202', 'AJC-1220', 'AJC-1225', 'AJC-1239', 'AJC-1255', 'AJC-1258', 'AJC-1264', 'AJC-1280', 'AJC-1315', 'AJC-1322']

In [408]:
desertores_reales = []
for i in range(len(candidatos_desertores)):
    if candidatos_desertores[i] in id_df20192:
        continue
    else:
        desertores_reales.append(candidatos_desertores[i])

In [409]:
print(f"Estudiantes candidatos a desertores: {len(desertores_reales)} \n",desertores_reales)

Estudiantes candidatos a desertores: 17
 ['AJC-0010', 'AJC-0052', 'AJC-0096', 'AJC-0123', 'AJC-0435', 'AJC-0438', 'AJC-0479', 'AJC-0934', 'AJC-0996', 'AJC-1051', 'AJC-1100', 'AJC-1118', 'AJC-1225', 'AJC-1258', 'AJC-1264', 'AJC-1280', 'AJC-1315']

In [410]:
estado_academico = pd.DataFrame(columns=['ID','ESTADO'])
row = 0
for i in id_df20191:
    if i in desertores_reales:
        estado_academico.loc[row,'ESTADO'] = 'Desertor'
    else:
        estado_academico.loc[row,'ESTADO'] = 'Activo'
    estado_academico.loc[row,'ID'] = i
    row = row + 1

In [411]:
estado_academico

          ID    ESTADO
0   AJC-0010  Desertor
1   AJC-0027    Activo
2   AJC-0041    Activo
3   AJC-0052  Desertor
4   AJC-0054    Activo
..       ...       ...
71  AJC-1264  Desertor
72  AJC-1280  Desertor
73  AJC-1292    Activo
74  AJC-1315  Desertor
75  AJC-1322    Activo

[76 rows x 2 columns]

In [412]:
estado_academico_dummies = pd.get_dummies(estado_academico.ESTADO)

In [413]:
genero_dummies

      F  M
0     0  1
30    0  1
60    0  1
90    0  1
120   0  1
...  .. ..
2125  0  1
2155  0  1
2185  0  1
2215  0  1
2245  0  1

[76 rows x 2 columns]

## Formando Dataset1 - Entrenamiento

In [414]:
""""df_20191['COLEGIO'] = colegio['COLEGIO']
df_20191['CANT_MATERIAS'] = cant_materia['CANT_MATERIAS']
df_20191['METODO_PADO'] = metodo_pago['METODO_PAGO']
df_20191['ESTADO'] = estado_academico['ESTADO']
df_20191['EDAD'] = edades['EDAD']"""

'"df_20191[\'COLEGIO\'] = colegio[\'COLEGIO\']\ndf_20191[\'CANT_MATERIAS\'] = cant_materia[\'CANT_MATERIAS\']\ndf_20191[\'METODO_PADO\'] = metodo_pago[\'METODO_PAGO\']\ndf_20191[\'ESTADO\'] = estado_academico[\'ESTADO\']\ndf_20191[\'EDAD\'] = edades[\'EDAD\']'

In [415]:
#final = pd.merge(df_20191,genero_dummies, on = 'ID')
final = pd.merge(df_20191,cant_materia, on = 'ID')
final = pd.merge(final, edades,on = 'ID')
#final = pd.merge(final, estado_academico_dummies,on = 'ID')

In [416]:
genero_dummies.reset_index(drop=True, inplace=True)
estado_academico_dummies.reset_index(drop=True, inplace=True)
final.reset_index(drop=True, inplace=True)

In [417]:
final_csv = pd.concat([final,genero_dummies,estado_academico_dummies],axis=1)

In [418]:
final_csv.isnull().sum()

ID               0
PROMEDIO         0
CANT_MATERIAS    0
EDAD             0
F                0
M                0
Activo           0
Desertor         0
dtype: int64

In [420]:
final_csv.to_csv('final_normalizado.csv')

In [276]:
final.to_csv('final.csv')

In [115]:
final_20191 = pd.DataFrame(columns=['ID','GENERO','ESTRATO','PAIS_NACIMIENTO','DPTO_NACIMIENTO','CIUDAD_NACIMIENTO','EDAD','CIUDAD_RESIDENCIA','BARRIO','COLEGIO','CANT_MATERIAS','PROMEDIO','FORMA_PAGO'])

In [36]:
final_20191['GENERO'] = df_20191[mask].iloc[1,'GENERO']

In [89]:
final_20191[0,'ID'] = i
final_20191.loc[0,'GENERO'] = df_20191[mask].loc[0,'GENERO']

In [116]:
row = 0
i = id_df20191[0]
mask = df_20191['ID'] == i
final_20191.loc[row,'ID'] = i

In [183]:
pd.merge(edades,estado_academico,on='ID')

          ID EDAD    ESTADO
0   AJC-0010   19  Desertor
1   AJC-0027   19    Activo
2   AJC-0041   19    Activo
3   AJC-0052   20  Desertor
4   AJC-0054   20    Activo
..       ...  ...       ...
71  AJC-1264   20  Desertor
72  AJC-1280   21  Desertor
73  AJC-1292   19    Activo
74  AJC-1315   21  Desertor
75  AJC-1322   19    Activo

[76 rows x 3 columns]

In [181]:
df_20191['EDAD']

0        19
30       21
60       20
90      NaN
120     NaN
       ...
2125    NaN
2155    NaN
2185    NaN
2215    NaN
2245    NaN
Name: EDAD, Length: 76, dtype: object

In [148]:
df_20191

,ID,GENERO,ESTADO_CIVIL,ESTRATO,PAIS_NACIMIENTO,DPTO_NACIMIENTO,CIUDAD_NACIMIENTO,DPTO_RESIDENCIA,CIUDAD_GENERAL,BARRIO,PROMEDIO,COLEGIO,CANT_MATERIAS,METODO_PADO,ESTADO,EDAD
0,AJC-0010,M,Soltero,NaN,Colombia,Valle del Cauca,BUENAVENTURA,Valle del Cauca,CALI,Barranquilla,2.8,El Milagroso,6.0,PAGO DIRECTO,Desertor,19
30,AJC-0027,M,Soltero,1.0,Colombia,Valle del Cauca,CALI,Valle del Cauca,CANDELARIA,belen,4.0,SANTIAGO RENGIFO SALCEDO,6.0,PAGO DIRECTO,Activo,21
60,AJC-0041,M,Soltero,1.0,Colombia,Valle del Cauca,CALI,Valle del Cauca,CALI,PRADOS DEL SUR,3.7,FUNDACION EDUCATIVA JOSE ANGEL HERRERA MORA,6.0,PAGO DIRECTO,Activo,20
90,AJC-0052,M,Soltero,NaN,Colombia,Valle del Cauca,CALI,Valle del Cauca,CALI,remansos de comfani,2.3,institucion educativa tecnica ciudadela decepaz,NaN,PAGO DIRECTO,NaN,NaN
120,AJC-0054,M,Soltero,3.0,Colombia,Valle del Cauca,CALI,Valle del Cauca,CALI,CALIPSO,3.2,INSTITUCIÓN EDUCATIVA LICEO PORVENIR,NaN,PAGO DIRECTO,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2125,AJC-1264,M,Soltero,NaN,Colombia,Cauca,PUERTO TEJADA,Cauca,PUERTO TEJADA,santa helena,2.7,I.E. FIDELINA ECHEVERRY - SEDE PRINCIPAL,NaN,PAGO DIRECTO,NaN,NaN
2155,AJC-1280,M,Separado(a),NaN,Colombia,Valle del Cauca,CALI,Valle del Cauca,CALI,talanga 4,0.2,institucion educativa tecnica industria rafael...,NaN,PAGO DIRECTO,NaN,NaN
2185,AJC-1292,M,Soltero,2.0,Colombia,Valle del Cauca,CALI,Valle del Cauca,CALI,antonio nariño,4.1,COL CENTRAL MADRID,NaN,PAGO DIRECTO,NaN,NaN
2215,AJC-1315,M,Soltero,NaN,Colombia,Cauca,VILLA RICA,Cauca,VILLA RICA,terronal,2.8,senon fabio villegas,NaN,PAGO DIRECTO,NaN,NaN
2245,AJC-1322,M,Soltero,NaN,Colombia,Valle del Cauca,CALI,Valle del Cauca,CALI,Olimpico,0.8,INSTITUCION EDUCATIVA JOAQUIN DE CAYZEDO Y CUERO,NaN,PAGO DIRECTO,NaN,NaN

In [49]:
final_20191 = pd.DataFrame(columns=['ID','GENERO','ESTRATO','PAIS_NACIMIENTO','DPTO_NACIMIENTO','CIUDAD_NACIMIENTO','EDAD','CIUDAD_RESIDENCIA','BARRIO','COLEGIO','CANT_MATERIAS','PROMEDIO','FORMA_PAGO'])

In [100]:
print(color.BOLD + '  ID 20192' + color.END)
print(df_20192['ID'].value_counts())
id_df20192 = df_20192['ID']
id_df20192 = id_df20192.drop_duplicates()

  ID 20192
AJC-1185    35
AJC-0940    30
AJC-0921    30
AJC-1231    30
AJC-1188    30
            ..
AJC-0902    15
AJC-0161    15
AJC-0989    15
AJC-1255    10
AJC-0116    10
Name: ID, Length: 61, dtype: int64

In [102]:
print(color.BOLD + '  ID 20201' + color.END)
print(df_20201['ID'].value_counts())
id_df20201 = df_20201['ID']
id_df20201 = id_df20201.drop_duplicates()

  ID 20201
AJC-0940    30
AJC-0967    30
AJC-0282    30
AJC-0779    30
AJC-0974    30
AJC-0645    30
AJC-0041    30
AJC-0557    30
AJC-0202    30
AJC-1292    30
AJC-1388    30
AJC-0027    30
AJC-0604    30
AJC-0529    30
AJC-1188    30
AJC-0125    30
AJC-0615    30
AJC-0619    30
AJC-0674    30
AJC-0139    30
AJC-0878    30
AJC-1231    30
AJC-1156    30
AJC-1185    30
AJC-0204    30
AJC-0847    30
AJC-0507    30
AJC-0430    30
AJC-0966    30
AJC-0478    30
AJC-0495    25
AJC-0947    25
AJC-0054    25
AJC-0846    25
AJC-0134    25
AJC-1064    20
AJC-0116    20
AJC-0413    20
AJC-1025    20
AJC-0375    20
AJC-1230    20
AJC-0692    20
AJC-1151    15
Name: ID, dtype: int64

In [104]:
id_df20191 = id_df20191.values
id_df20201 = id_df20201.values
id_df20191=id_df20191.tolist()
id_df20201=id_df20201.tolist()

In [67]:
desertores = []
for i in range(len(id_df20191)):
    if id_df20191[i] in id_df20201:
        continue
    else:
        desertores.append(id_df20191[i])

KeyError: 1

In [145]:
print('Diferencia entre estudiantes matriculados en 20191 y 20201 es', str(len(id_df20191)-len(id_df20201)) + ' y la cantidad de desertores es ' +  str(len(desertores)))

Diferencia entre estudiantes matriculados en 20191 y 20201 es 33 y la cantidad de desertores es 34

In [136]:
fantasmas = []
for i in range(len(id_df20201)):
    if id_df20201[i] in id_df20191:
        continue
    else:
        fantasmas.append(id_df20201[i])

In [137]:
fantasmas

['AJC-1388']

In [146]:
desertores_reales = []
for i in range(len(desertores)):
    if desertores[i] in id_df20192:
        continue
    else:
        desertores_reales.append(desertores[i])

In [148]:
len(desertores_reales)

34

In [149]:
prueba = []
for i in range(len(desertores)):
    if desertores[i] in desertores_reales:
        continue
    else:
        prueba.append(desertores[i])

In [151]:
desertores_reales

['AJC-0010',
 'AJC-0052',
 'AJC-0096',
 'AJC-0123',
 'AJC-0129',
 'AJC-0161',
 'AJC-0233',
 'AJC-0255',
 'AJC-0435',
 'AJC-0438',
 'AJC-0479',
 'AJC-0558',
 'AJC-0739',
 'AJC-0902',
 'AJC-0921',
 'AJC-0934',
 'AJC-0968',
 'AJC-0989',
 'AJC-0996',
 'AJC-1051',
 'AJC-1060',
 'AJC-1100',
 'AJC-1104',
 'AJC-1118',
 'AJC-1202',
 'AJC-1220',
 'AJC-1225',
 'AJC-1239',
 'AJC-1255',
 'AJC-1258',
 'AJC-1264',
 'AJC-1280',
 'AJC-1315',
 'AJC-1322']

In [152]:
desertores

['AJC-0010',
 'AJC-0052',
 'AJC-0096',
 'AJC-0123',
 'AJC-0129',
 'AJC-0161',
 'AJC-0233',
 'AJC-0255',
 'AJC-0435',
 'AJC-0438',
 'AJC-0479',
 'AJC-0558',
 'AJC-0739',
 'AJC-0902',
 'AJC-0921',
 'AJC-0934',
 'AJC-0968',
 'AJC-0989',
 'AJC-0996',
 'AJC-1051',
 'AJC-1060',
 'AJC-1100',
 'AJC-1104',
 'AJC-1118',
 'AJC-1202',
 'AJC-1220',
 'AJC-1225',
 'AJC-1239',
 'AJC-1255',
 'AJC-1258',
 'AJC-1264',
 'AJC-1280',
 'AJC-1315',
 'AJC-1322']